<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Router In Vue. 2</title>
    <style>
        body {
            margin: 5%;
            font-family: 'Serif';
        }

        #section .theory {
            margin-left: 2%;
        }

        .active {
            background: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

    <div id="app">
      
        <header-component></header-component>
        <nav>
                <router-link to="/">Home</router-link>
                <router-link to="/about">About</router-link>
                <router-link to="/kelas">Kelas</router-link>
        </nav>
        <hr>
        <router-view v-bind:kelas="kelas" v-on:hapuskelas="kelashapus" v-on:submitkelas="submitkelas"></router-view>
        <footer-component>
            Nawcodes
        </footer-component>
    </div>




    <script>

           
        // Routes Component 
            // Nav Component
            const Home = {template : '<div> Home </div>'}  
            const About = {template : '<div> About </div>'}  
            const NotFound = {template : '<div> Page its not found! </div>'}  
            const DetailKelas = {
                template : `
                <div> Detail kelas! 
                <p>uuid - {{$route.params.id}}</p>
                <p>name - {{detailKelas.name}} </p>
                <p>description - {{detailKelas.description}} </p>
                <p>image - <img :src="urlImage(detailKelas.photo)" /> {{detailKelas.photo}} </p> 
                <router-link to="/kelas">kembali</router-link>   
                </div>`,
                data() {
                    return {
                        detailKelas: {}
                    }
                },
                created() {
                    this.filterKelas();
                },
                methods: {
                    filterKelas() {
                        let kelas = JSON.parse(localStorage.getItem('kelas'));
                        let id = this.$route.params.id;
                        let filtered = kelas.filter(k => k.id == id);
                        // console.log(filtered); return array
                        this.detailKelas = filtered[0];
                    },
                    urlImage  : function(urlImage) {
                        return './image/' + urlImage;
                    }
                }
            }  
            const Kelas = {
                props: ['name', 'kelas'],
                template: `
                <article id="section">
                    <div>
                        <h1>Add Class Feature</h1>
                        <form v-on:submit.prevent="submitkelas">
                            <div>
                                <label For="kelas">Judul:</label>
                                <input type="text" v-model="newkelas.name" name="name" id="name">
                                <small class="error" v-if="error.name">{{error.name}}</small>    
                            </div>    
                            <div>
                                <label For="deskripsi">Deskripsi:</label>
                                <textarea v-model="newkelas.description" name="description" id="description"></textarea>
                                <small class="error" v-if="error.description">{{error.description}}</small>    
                            </div>    
                            <div>
                                <img :src="previewimage" v-if="previewimage" width="200"/>
                                <label For="kelas">Photo:</label>
                                <input type="file" ref="photo" v-on:change="upload" name="photo" id="photo">    
                            </div>
                            <button type="submit" >Submit</button>     
                            
                        </form>
                        <div class="theory">
                            <ul>
                                <li v-for="(c, index) in kelas">
                                    <img :src="'image/' + c.photo" v-if="c.photo" width="150"/>
                                    <p>{{index+1}} - {{ c.name }} <a href="#" v-on:click.prevent="$emit('hapuskelas', c.id)"> Delete</a></p> 
                                    <router-link :to="'kelas/' + c.id ">Lihat kelas</router-link>
                                </li>
                            </ul>
                        </div>
                        <hr>
                    </div>
                </article>
                `,
                data: function() {
                    return {
                        newkelas : {
                            name: '',
                            description: '',
                            photo: ''
                        },
                        previewimage: '',
                        error: {
                            name: '',
                            description: '',
                        }
                    }
                },
                methods: {
                    submitkelas: function(e) {
                        this.error.name = '';
                        this.error.description = '';


                        if(this.newkelas.name == '') {
                            this.error.name = 'The name of class is required.';
                        }

                        if(this.newkelas.description == '') {
                            this.error.description = "The description field is required.";
                        } 


                        if(this.newkelas.name && this.newkelas.description) {
                        // console.log(this.newkelas);
                        const data = {
                            id: uuidv4(),
                            name: this.newkelas.name,
                            description: this.newkelas.description,
                            photo: this.newkelas.photo,
                        }
                        this.$emit('submitkelas', data);
                        this.newkelas.name = "";
                        this.newkelas.description = "";
                        this.newkelas.photo = "";
                        this.previewimage = "";
                        this.$refs.photo.value = "";

                        }
                    },
                    upload: function(e) {
                        const imageName = e.target.files[0].name;
                        this.newkelas.photo = imageName;
                        this.previewimage = URL.createObjectURL(e.target.files[0]);
                    }
                }
            }  
        // End Routes Component


        Vue.component('header-component' , {
            template: `
                <header>
                <img src="image/logo.png" width="80" alt="" style="">
                <h1>{{ title }}</h1>
                </header>
            `,
            // data must be a function!!!!!!
            data: function() {
                return {
                    title: 'Hello Router In Vue 2', 
                }
            }
        })

        var footerComponent = {
            template: `
            <footer id="footer">
                <p>Copy Right Reserverd <slot></slot></p> 
            </footer>
            `
        } 

        
        // Instance  Component To Routes 
        const routes = [
            {path: '/', component : Home},
            {path: '/about', component : About},
            {path: '/kelas' , component : Kelas},
            {path: '/kelas/:id' , component : DetailKelas},
            {path: '*' , component : NotFound},
        ]

        // Instance Routes To Router
        const router = new VueRouter({
            mode: 'history',
            routes
        }) 


        const vm = new Vue({
            el: '#app',
            router,
            data: {
                // kelas:  [
                //     {id: 1, name: 'Javascript' , description: 'Javascript its programing language', photo: ''},
                //     {id: 2, name: 'PHP' , description: 'PHP its programing language', photo: '',}
                // ], 
                kelas : [],
            },
            beforeCreate() {
               console.log('before created: ' + this.kelas);
            },
            created() {
                const k = this.kelas = JSON.parse(localStorage.getItem('kelas')) || [];
                console.log('after created:' + this.kelas);
            },
            components: {
                'footer-component' : footerComponent,
            },
            methods: {                
                kelashapus: function(id) {
                    this.kelas = this.kelas.filter(item => item.id != id);
                    localStorage.setItem('kelas', JSON.stringify(this.kelas));
                    Swal.fire( {
                        text: 'Deleted',
                        icon : 'warning'
                    });
                },
                submitkelas: function(data) {
                    this.kelas.push(data);
                    localStorage.setItem('kelas', JSON.stringify(this.kelas));
                    Swal.fire( {
                    title: this.kelas.name,
                    text: 'Saved',
                    icon : 'success'
                    });
                }
            },
        }); 
    </script>
</body>
</html>