<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component In Vue.</title>
    <style>
        body {
            margin: 5%;
            font-family: 'Serif';
        }

        #section .theory {
            margin-left: 2%;
        }

        .active {
            background: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
</head>
<body>

    <div id="app">

        <header-component></header-component>
        <hr>
        <theory-component name="It's Props" v-bind:kelas="kelas" v-on:deleteClass="deletekelas"></theory-component>
        <component-a></component-a>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>

        Vue.component('header-component' , {
            template: `
                <header>
                <img src="image/logo.png" width="80" alt="" style="">
                <h1>{{ title }}</h1>
                </header>
            `,
            // data must be a function!!!!!!
            data: function() {
                return {
                    title: 'Hello Vue Component',
                }
            }
        })

        Vue.component('theory-component', {
            props: ['name', 'kelas'],
            template: `
            <article id="section">
                <div>
                    <h1>Add Class Feature</h1>
                    <div class="theory">
                        <input type="text" v-on:keyup.enter="addClass" v-model="newClass">
                        <ul>
                            <li v-for="(c, index) in isClass">{{index+1}} - {{ c }}</liTry to write in inspect vm.changeName(newName)</li>
                        </ul>
                    </div>
                    <hr>
                </div>
                <div>
                    <h1>Props | Props it's element name in vue js was maker, and it's giving a attribute for data and will be receive in function vue component as by data.</h1>
                    <ul>
                        <li>1. Make The Vue.Component('foo')</li>
                        <li>2. Implement in html <foo></foo></li>
                        <li>3. Give a custom attribute  <foo data="foo"></foo></li>
                        <li>4. Add Props : ['nama']  in function Vue.Component('foo', {props:['nama']})</li>
                        <li>5. After implement and fill it the value, what ever you want do</li>
                    </ul>
                    <div class="theory">
                        <section>
                        <h2> 
                            The Result
                            </h2>
                        Render Props : {{name}}
                        </section>
                        <section>
                        <hr>
                        <h2> 
                            And How I Can Sending Data As Array ?
                        </h2>
                        Just Write In Element Component at html: v-bind:name="arrayFoo"
                        <br>
                        The Result : 
                        <ul><li v-for="k in kelas"> {{k}}
                            </li></ul>
                        </section>
                        <section>
                        <hr>
                        <h2> 
                            But I want Make a Component With Vanila Javascript ?
                        </h2>
                        Just Write In js as object var componentFoo = {template:'blablabla'} , after that by adding properti component in new Vue as Property components: {'componentFoo': componentFoo, 'componentFoo2' : componentFoo2}. then called in html as name component
                        <br>
                        The Result : 
                        </section>
                    </div>
                    <hr>
                </div>
                <div>
                    <h1>$emit | Sebuah fungsi untuk interaksi child dengan induknya, sedangkan kebalikannya induk melalui child yaitu melalui properti</h1>
                    <div class="theory">
                        <ul>
                            <li v-for="(c, index) in isClass">{{index+1}} - {{ c }}</liTry to write in inspect vm.changeName(newName) 
                                </li>
                                <a href="#" v-on:click.prevent="$emit('deleteClass')">delete</a>                            
                        </ul>
                    </div>
                    <hr>
                </div>
            </article>
            `,
            data: function() {
                return {
                    isClass : ['Python', 'Golang', 'Javascript'],
                    newClass: "",
                }
            },
            methods: {
                addClass: function(event) {
                    this.isClass.push(this.newClass);
                    this.newClass = '';
                }
            }
        })


        var componentA = { template: `<div>it's Component A With Vanilla Javascript<div>`}

        const vm = new Vue({
            el: '#app',
            data: {
                kelas:  ['Python', 'Golang', 'Javascript'], 
            },
            components: {
                'component-a' : componentA,
            },
            methods: {                
                 deletekelas: function() {
                     console.log('ok');
                 }
            },
        }); 
    </script>
</body>
</html>