<div class="container">
    <div class="row">
        <div class="col">
            <img src="/img/default.jpg" alt="" width="150">
            <h1 class="display-4">Naws</h1>
            <p class="lead">Student </p>
        </div>
    </div>
</div>
