@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #77b18d;
    display: flex;
    justify-content: center;
    max-height: 100vh;
    color:white;
}


.desk-app {
    width: 98%;    
    background-color: #666E7E;
    margin: 1rem 0;
    height: 97vh;   
    border-radius: 5px; 
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.container-app {
    height: 100%;
    position: relative;
}

.container-app .side-nav {
    top: 8px;
    left: 8px;
    display: flex;
    justify-self: stretch ;
    position: absolute;
    height: 100%;
}



.container-app .side-nav ul {
    background-color: #1D2537;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    border-radius:10px;
}

.container-app .side-nav ul li {
    list-style-type: none;
    margin: 1rem 0;
}

.container-app .content-slide {
    display: inline-flex;
    margin-left: 70px;
}

.content-slide.home {
    flex-direction: column;
}


.content-slide.home h2 {
    font-size: 60px;
}

.home {
    align-items: center;
    background-color: rebeccapurple;
    justify-content: center;
    width:100%;
    padding: 0 5rem;
}










