@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/MTC.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}






.slider {
    box-shadow: rgba(0, 0, 0, 0.9) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.9) 0px 18px 36px -18px inset;
    width: 99%;
    height: 99vh;
    border-radius:10px;
    overflow: hidden;
    position: relative;
}

.slider .slides {
    display: flex;
    width: 500%;
    height: 100%;
}


.slide {
    width : 20%;
    transition:  2s;
}



.slides input {
    display: none;
}

.slide.home {
    padding: 18rem 19rem;
}

.slide.home h2 {
    color: #F7F6F9;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.slide.home p {
    color: #F7F6F9;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 0;
    font-size: 1.2rem;
}
.slide.home p span {
    font-size: 2rem;
    background-color: #CDA695;
    padding: 0.4rem 0.4rem;
    border-radius: 10px;
}

.slide.home .btn {
    text-align: center;
    padding-top: 25px;
}

.btn a {
    padding: 1rem 1rem;
    text-decoration: none;
    background-color: #CDA695;
    border-radius: 7px;
    color: #fff;
}

.slide.tokenomics {
    display: flex;
    align-items: center;
    padding: 5rem 10rem;
}

.slide.tokenomics h2 {
    color: #fff;
    font-size: 2rem;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

.slide.tokenomics .card {
    color: #1D2537;
    background-color: #bac0cc;
    text-align: center;
    width: 25%;
    margin: 0 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



.slide.about {
    display: flex;
    justify-content: center;
    padding: 4rem 5rem;
    flex-wrap: wrap;
}

.slide.about h3 {
    color: white;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}


.slide.footer {
    padding: 4rem 5rem;
    text-align: center;
    color: white;
    
}


.slide.footer h2 {
    font-size: 3rem;
            text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}
.slide.footer p {
    font-size: 2rem;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

.slide.footer .contract {
    font-size: 1.5rem;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background: #CDA695;
    border-top-left-radius: 100px;
}


.slide.about .card {
    background-color: #1D2537;
    text-align: center;
    width: 17%;
    height: 300px;
    margin: 0 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slide.home h2 {
    font-size: 60px;
}

/* manual navigation start */
.navigation-manual {
    background-color:#1D2537;
    padding: 1rem 0;
    position: absolute;
    width: 400px;
    display: flex;
    left: 39%;
    right: 39%;
    justify-content: center;
    margin-top: -70px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.manual-btn {
    padding : 0 0.5rem;
    color: #CDA695;
    cursor: pointer;
    transition: 1s;
}


.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    border: 2px solid green;
    border-radius: 5px;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

/* css for automatic  */


#radio1:checked ~ .navigation-auto .auto-btn1 {
     background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
     background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
     background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
     background: #40D3DC;
}


@media only screen and (max-width: 600px) {
    body {
        background-image: url('img/MTC3.png');

    }

    .slide.home {
        padding: 1rem;
    }

    .slide.home h2 {
        font-size: 2rem;
        text-align: center;
        margin: 2rem;
    }

    .slide.home p {
        text-indent: 10%;
        line-height: 2;
    }

    .slide.home p span {
        font-size: 1.9rem;
    }

    #our {
        display: none;
    }

    .navigation-manual {
        left: 1%;
    }

    .slide.tokenomics {
        flex-direction: column;
        padding: 1rem 1rem;
    }

    .slide.tokenomics h2 {
        
        margin: 0.25rem 0;

    }

    .slide.tokenomics .card {
        width: 100%;
        margin: 0.25rem 0.5rem;
    }


    .slide.about {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem 1rem;

    }

    .slide.about .card {
        width: 25%;
        height: 250px;
        margin: 0.2rem 0.05rem;
    }

    .slide.about h3 {
        font-size: 16px;
    }

    .slide.footer {
        padding: 1rem 1rem;
    }


    .slide.footer h2 {
        font-size: 2.5rem;
    }

    .slide.footer p {
        font-size: 1.5rem;

    }

    .slide.footer .contract {
        font-size: 1rem;
    }
   

}


@media only screen and (min-width: 600px) and (max-width: 900px) {
    body {
        background-image: url('img/MTC3.png');

    }

    .slide.home {
        padding: 10rem 2rem;
    }

    .slide.home h2 {
        font-size: 3rem;
        text-align: center;
        margin: 2rem;
    }

    .slide.home p {
        text-indent: 10%;
        line-height: 2;
    }

    .slide.home .btn {
        padding-top: 3rem;
    }

    .slide.home p span {
        font-size: 1.9rem;
    }


    .navigation-manual {
        left: 25%;
    }

    .slide.tokenomics {
        flex-direction: column;
        padding: 1rem 1rem;
    }


    .slide.tokenomics .card {
        width: 50%;
        margin: 0.75rem 0.5rem;
    }


    .slide.about {
        display: flex;
        justify-content: center;
        padding: 5rem 1rem;
    }

    .slide.about .card {
        width: 24%;
        height: 180px;
    }

    .slide.about h3 {
        font-size: 16px;
    }

    .slide.footer {
        padding: 10rem 10rem;
    }


    .slide.footer h2 {
        font-size: 2.5rem;
    }

    .slide.footer p {
        font-size: 1.5rem;

    }

    .slide.footer .contract {
        font-size: 1rem;
    }
}



@media only screen and (min-width: 901px) and (max-width: 1280px) {
     body {
         background-image: url('img/MTC3.png');

     }

     .slide.home {
         padding: 4rem 3rem;
     }

     .slide.home h2 {
         font-size: 3rem;
         text-align: center;
         margin: 2rem;
     }

     .slide.home p {
         text-indent: 10%;
         line-height: 2;
     }

     .slide.home .btn {
         padding-top: 3rem;
     }

     .slide.home p span {
         font-size: 1.7rem;
     }


     .navigation-manual {
         left: 35%;
     }

     .slide.tokenomics {
         flex-direction: row;
         padding: 2rem 2rem;
     }


     .slide.tokenomics .card {
         width: 50%;
         margin: 0.75rem 0.5rem;
     }


     .slide.about {
         display: flex;
         justify-content: center;
         padding: 4.5rem 1rem;
     }

     .slide.about .card {
         width: 20%;
         height: 180px;
     }

     .slide.about h3 {
         font-size: 20px;
     }

     .slide.footer {
         padding: 5rem 10rem;
     }


     .slide.footer h2 {
         font-size: 2.5rem;
     }

     .slide.footer p {
         font-size: 1.5rem;

     }

     .slide.footer .contract {
         font-size: 1rem;
     }
}
